<div id="sitewrap">
        <section id="content" class="body">
            
            
{% if tweets %}
                <header>
                    <h2 class="entry-title">
                        <a href="#" rel="bookmark"></a>
                    </h2>
                    <h3>
                        <a class="next"></a>
                    </h3>
                </header>
                    <p>{{ tweets.tweet }}</p></a>
                   
                    <h1>{{ tweets.user }}</h1>
                    <h1>{{ tweets.published_date|date }}</h1>
                   
                        {% endif %}

        </section>
    </div>
    